.galeria div img {
  width: 50%;
}

.row .column img {
  width: 50%;
}

.desarrollo {
  display: block;
  text-align: center;
}

.tx-carousel {
  font-size: large;
  font-weight: 300;
  color: rgb(56, 53, 33);
  border-radius: 20px;
  margin-bottom: 1rem;
  background: linear-gradient(n1, #EBA973);
}

.carousel {
  margin: 0 auto;
  width: 75%;
}

.navProductos figure {
  box-shadow: 0px 0px 15px currentcolor;
  border-radius: 20px;

  &:hover {
    transform: scale(1.1);
  }
}

.venta {
  padding: 10px 12px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin-right: 18%;
  margin-left: 18%;
  max-width: 100%;
  place-content: center;
  position: relative;
  grid-area: ventas;
}

.ventaContenido {
  margin-right: 18%;
  margin-left: 18%;
  border: 2px solid black;
  display: block;
  max-width: 100%;
  position: relative;
}

.Ext {
  z-index: -2;
  animation-name: espacios;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.venta img {
  width: 70px;
  height: auto;
  border: 1px solid black;
  z-index: 1;
  animation-name: rotar;
  animation-duration: 5s;
  animation-timing-function: 4, jump-start;

  &:hover {
    transform: scale(.8);
    background-color: goldenrod;
    animation: move .5s 0.1s both;
  }
}

.c-auto {
  display: flex;
  justify-content: center;
}

@keyframes move {
  100% {
    transform: unset;
  }
}

@keyframes example {
  from {
    background-color: rgba(239, 219, 204, 0.3);
  }

  to {
    background-color: rgba(239, 219, 204, 1);
  }
}

@keyframes espacios {
  from {
    margin-left: 100%;
    width: 100%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes caida {

  from {
    margin-top: -100%;
    width: 100%
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

@keyframes rotar {

  0% {
    top: -100px
  }

  25% {
    top: 50px
  }

  50% {
    top: 0px
  }

  75% {
    top: 100px
  }

  100% {
    top: 200px
  }
}


.buttonVerMas {
  @extend .btnBase;
  font-size: 15px;
  outline: none;
  color: #fff;
  background-color: map-get($map:$paleta, $key:'verde');
  border-radius: 15px;
  box-shadow: 0 3px #666;
  width: 100px;
  height: 30px;
  top: 100%;
  left: 47%;

  &:hover {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
  }

  &:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

.hide {
  display: none;
}

.show {
  display: block;
  z-index: -1;
}

.mapaVenta {
  width: 99%;
}

.galeria {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.contenedorPrevNext {
  position: relative;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: chocolate;
  font-weight: bold;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(244, 240, 211, 0.8);
}

.numbertext {
  color: #9E6113;
  font-size: 20px;
  padding: 1.5rem 1.5rem;
  position: absolute;
  top: 1rem;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgba(158, 97, 19, .8);
  padding: 2px 16px;
  font-size: x-large;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}





.buscarPropiedades form input:focus {
  width: 110%;
}

.tituloPrincipal {
  font-size: medium;
  font-weight: 200;
}

.buscarPropiedades h3 {
  font-size: medium;
}

.encima {
  font-size: large;
}

