* {
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 0px;
}

html {
	min-width: 320px;
}

body {
	height: auto;
	background: $bodyColor;
	background-repeat:no-repeat;
	position: relative;
	padding-bottom: 3rem;
	min-height: 98vh;
}

h1 {
	@include h;
}

h2 {
	@extend h1;
	color: map-get($map:$paleta, $key:'naranja');
}
h3 {
	@extend h1;
	color: map-get($map:$paleta, $key:'naranja');
	font-size: large;
}

.btnBase {
	@include btnBase;
}
