@mixin dFlex($direccion, $ajuste, $alineacion) {
	display: flex;
	flex-direction: $direccion;
	flex-wrap: $ajuste;
	justify-content: $alineacion;
}

@mixin tituloInfoEmp {
	font-size: x-large;
	background-color: map-get($map:$paleta, $key:'naranja');
	color: map-get($map:$paleta, $key:'crema');
	text-align: center;
	padding: 1rem;
}

@mixin InfoEmp {
	font-size: large;
	font-weight: 200;
	background-color: map-get($map:$paleta, $key:'crema');
	color: map-get($map:$paleta, $key:'naranja');
	text-align: justify;
	padding: 1rem;
}

@mixin h {
	margin: 1rem;
	padding-top: 1rem;
	font-size: xx-large;
	text-align: center;
	color: map-get($map:$paleta, $key:'cafe');
}

@mixin btnBase {
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}