
.somos{
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
}


.quienesSomos{
	font-size: x-large;
	background-color: chocolate;
	color: blanchedalmond;
	text-align: center;
	padding: 1rem;
}
 
.textoQuienesSomos{
	font-size: large;
	font-weight: 200;
	background-color: blanchedalmond;
	color: chocolate;
	text-align: justify;
	padding: 1rem;
}