.somos {
	@include dFlex(column, nowrap, center);
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
}


.quienesSomos {
	@include tituloInfoEmp;
}

.textoQuienesSomos {
	@include InfoEmp;
}