// variables globales

$bodyColor: repeating-radial-gradient(#F0DCCC, #EBA973, #AD4E00);
$bgNav:rgba(240, 220, 204, .5);
$tranparente:rgba(240, 220, 204, 0);
$HamColor: rgba(240, 220, 204, .9);


$paleta:(salmon: #EBA973,
naranja: #AD4E00,
cafeClaro: #9E724D,
crema: #F0DCCC,
cafe: #6B4D34,
verde: #238E27);