// variables globales

$bodyColor: repeating-radial-gradient(#F0DCCC,#EBA973,#AD4E00);
$hColor: #AD4E00;
$bgCabecera:#6B4D34;
$bgNav:rgba(240, 220, 204, .5);
$tranparente:rgba(240, 220, 204, 0);
$HamColor: rgba(240, 220, 204, .9);




// $width:100%;
// $height:30vh;

// $lang:es;


